.pizza-builder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.pizza-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dashed #ccc;
}

.pizza-base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-image: url(pizza1.png);
    background-size: cover;
    border-radius: 50%;
}

.ingredient-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.ingredient {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.ingredient img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}